@{
	ViewData["Title"] = "Movie List";
}

@model IEnumerable<Movie>

<h1>@ViewData["Title"]</h1>

@if(Model == null || Model.Count() == 0) {
	<h2>No movies provided</h2>
} else {
	<h2>Total movie count: @Model.Count()</h2>
	<h4>@TempData["Success"]</h4>
	<div class="row">
		@foreach(Movie movie in Model) {
			<div class="col-4">
				<partial name="_MoviePartialView.cshtml" for="@movie" />
			</div>
		}
	</div>
}
