@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h2>Welcome to your video game collection!</h2>
	<p>Using this website, you can view and manage your collection of video games, <br />
	by managing who's loaned out what games at what times.</p>
</div>
