@{
	ViewData["Title"] = "Before Neumont";
}
<h1>@ViewData["Title"]</h1>

<div>
	<img src="~/img/python_logo.png" width="175" />
	<p>
		Before I came to Neumont, the only programming language that I knew well was Python. <br />
		I also knew a little C#, but that was from a little experimenting I did making a game for a game jam my class held. <br />
		The vast majority of my programming knowledge was from the two years I had spent at a vocational-technical school, <br />
		and the only language that class taught was Python (and a tiny bit of lua, but that part of the class only started <br />
		existing for a few months before I graduated (and that tiny bit of lua came from making Roblox games, so not entirely <br />
		applicable to the real world)). 
	</p>
	<img src="~/img/heavy_conga.gif" width="175" />
	<p>
		Moving on from that, before I came here I did a lot of gaming (I mean, I still play games, but I had a lot more time <br />
		to do so before I came here), and the most notable game out of all the ones I played would have to be TF2. <br />
		At this point in time, I have a little over 1,100 hours on that game. That's not even including GTA V or Payday 2, where I <br />
		have over 500 hours in each! And for GTA V, that number's not even accurate! For you see, I played a lot of GTA V on console, <br />
		before I got a PC, so a lot of the time that I spent on that game's not even been measured!
	</p>
</div>