@{
	ViewData["Title"] = "Future Career";
}
<h1>@ViewData["Title"]</h1>

<div>
	<img src="~/img/young-man-standing-crossroads.png" width="225" />
	<p>
		I'll admit, I don't exactly have many plans for after college. <br />
		My current plan consists of trying to hook up with some companies during the booth fair and <br />
		see if I can't get myself a job. Beyond that, all I can really say is that I'd try to go with the flow <br />
		and see what happens. I do have an ambition for where I hope to eventually end up, however. <br />
	</p>
	<img src="~/img/Valve_logo.png" width="200" />
	<p>
		This is the company that I hope to end up at eventually. I don't really know how long it might take or <br />
		how hard it might be, but this is the place that I want to work at some day. From what I know about the <br />
		workplace culture, combined with how they are the people behind a number of my favorite games, lead it <br />
		to be where I want to work at. <br />
	</p>
</div>