@{
	ViewData["Title"] = "Future Career";
}
<h1>@ViewData["Title"]</h1>

<div>
	<img src="~/img/young-man-standing-crossroads.png" width="200" />
	<p> <b>
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	</b> </p>
</div>