@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Hello!</h1>
	<img src="~/img/me.jpg" />
	<p>Above you will find a picture of me! <br />
	As a quick fun fact, that is the image I use for my badge! In addition to that, 
	the image above is a scaled down version of the original, at only about 10% the size!</p>
	<p>
		Hello! I am Curtis Lane! I'm currently 19, and I'm turning 20 this year. <br />
		I am a man who was born in South-East Missouri, which is also where I grew up and have spent the majority of my existance at. <br />
		I went to Naylor for elementary, middle, and high school (all on one campus too!). I've had an interest in coding since about 8th grade. <br />
		As for computers in general, that interest was sparked a few years earlier. I am definitively the most tech-savy in my household back in Missouri. <br />
		By a decent margin too. My first coding experience was during 11th grade, where my high school had a program that allowed students to <br />
		go to a nearby technical school for a variety of occupations. I went for programming. After I graduated, I came to Neumont, and I've been here ever since.
	</p>
	<img src="~/img/Jojo_English_logo.png" width="200" />
	<p>As one last little fun fact for this page, I'm big JoJo fan! 
	In fact, I would say that I'm currently in a bit of a JoJo phase at the moment.</p>
</div>
