@{
	ViewData["Title"] = "About Me!";
}

<div class="text-center">
	<img src="~/img/me.jpg" />
	<p>
		こんにちは、ようこそ！ (That's Japanese for hello and welcome!)
	</p>
	<p>
		Welcome to [insert site name here]! I am Curtis Lane, the creator of this fine website. <br />
		I'm in Cohort 38, and am currently a second year.
	</p>
</div>
<p>
	I chose to make this an anime social media site because:
	<ol>
		<li>
			I like anime.
		</li>
		<li>
			It was one of the examples in the assignment page, which leads nicely into the last reason,
		</li>
		<li>
			I am very bad at being creative, so I didn't want to try (and fail) to think of anything else.
		</li>
	</ol>
</p>
