@{
	ViewData["Title"] = "The requested user does not exist";
}

<div class="text-center">
	<h3 class="text-danger">@ViewData["Title"]</h3>
	<p>
		I am terribly sorry, but it would appear that user doesn't exist. <br />
		They might have changed their name, or they might have deleted their profile, or you might have just made a typo. <br />
		Regardless, there is no user with that name in our system.
	</p>
</div>
