@{
	ViewData["Title"] = "Game Collection";
}

@model IEnumerable<VideoGame>

<h1>@ViewData["Title"]</h1>

@if(Model == null || Model.Count() == 0) {
	<h2>No games in collection</h2>
} else {
	<h2>Total collection size: @Model.Count()</h2>

	<div class="pb-3">
		<a asp-area="" asp-controller="Game" asp-action="Add" class="btn btn-secondary d-flex">Add Game</a>
	</div>

	@if(TempData["Success"] != null) {
		<h4 class="py-2">@TempData["Success"]</h4>
	}

	<form class="d-flex" asp-controller="Game" asp-action="Search" method="post">
		<input name="key" type="search" placeholder="Title" class="form-control me-2" />
		<button type="submit" class="btn btn-secondary my-2">Search</button>
	</form>

	<br />

	<div class="row">
		@foreach(VideoGame game in Model) {
			<div class="col-4 pb-3">
				<partial name="_GamePartialView.cshtml" for="@game" />
			</div>
		}
	</div>
}
